/* 공통 비주얼 영역 */
.visual{width: 2000px; height: 400px;
      background: pink;
      position: relative; top: 0; left:50%; 
      transform: translateX(-50%);}
.visual strong{font-size: 32px; color: #fff;
        font-weight: 600; position: absolute;
        width: 100%; left:0; top:60%; display: block;
        text-align: center;}
/* 서브 메뉴 영역 */
.sub_nav{border-bottom: 1px solid #ccc;}
.sub_nav ul{width: 1000px; margin: 0 auto;
            display: flex;justify-content: center;}
.sub_nav ul li{width: 25%; box-sizing: border-box;
             text-align: center;
}
.sub_nav ul li a{font-size: 1.2rem;font-weight: 600;
            padding: 15px 0; transition: all .5s ease-out;
}
.sub_nav ul li a:hover,
.sub_nav ul li a.current
{background: #6C4AB6; color: #fff;}

/* 콘텐츠의 타이틀 영역 */
#content{width: 100%;}
#content .title_area{width: 1400px; margin: 0 auto;
            padding: 150px 0 200px; position: relative;
}
#content .title_area h2{font-size: 60px; font-weight: 700;
            text-align: center; margin-bottom: 20px;
            position: relative;color: #7450C1;
}
#content .title_area h2::after{
          content: ''; position: absolute; 
          left:50%; top:180px; transform: translateX(-50%);
          display: block; width: 4px; height: 100px;
          background-color: #6C4AB6;
}
#content .title_area p{font-size: 24px;text-align: center;
             font-weight: 500;        
}
#content .title_area .line_map{position: absolute;
            right:0; top: 15px; font-size: 1rem;  font-size: 0.9rem;
            color: #999; margin-bottom: 10px;        
}